---
layout: default
title: Sarah Leventhal - Invertebrate Paleontology with a touch of Zoology
---

 <div class="container">
  <div class="row"> 
    
 <div class="six columns">  
   <br/>
            <p class="p1"> Sarah Leventhal<br>
            PhD Candidate, Geological Sciences<br>
            University of Colorado, Boulder <br>
              sarah.leventhal@colorado.edu </p>
   <br/>


            </div>
    <div class="six columns"></div>   
    
    <p><img src="Me.jpg" alt="Woman with a hat standing on a mountain" width: 10% height: 10%/><p/>
   </div>
  </div>
       
       
  <p class="p1"><span class="s1">Hi! I am Sarah Leventhal, an invertebrate paleontologist interested in the evolution of colonial animals. <br>
    Much of my research focuses on modular colonies - bryozoans specifically. </p>
    <br/>
    
    <div class="container">
  <div class="row">
 <div class="six columns"> 
 <h1 class="content-listing-header sans">Research</h1>
         <hr class="slender">
	 <p class="p1"><span class="s1"> </p>

  <ul class="content">
    {% for post in site.posts %}
      {% if post.tags contains 'research' %}
      	<a href="https://www.youtube.com/watch?v=Zf6xeURkY4c&t=24s&ab_channel=ASNAmNat" target="_blank"> <small> Trait Heredity and Morphological Distance between Species</small></a>
		  {% endif %}
    {% endfor %}
  </ul></div>


<div class="six columns"> 
 <h1 class="content-listing-header sans">Outreach</h1>
  <ul class="content">
    {% for post in site.posts %}
    {% if post.tags contains 'outreach' %}
        <hr class="slender">
        <a href="https://www.colorado.edu/cumuseum/2021/01/13/bryozoan" target ="_blank"> <small> CU Museum of Naturral History Wonder of the Week Blog </small></a>
        <span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
   {{ post.content | strip_html | truncatewords: 20 }}
          {% endif %}

    {% endfor %}
  </ul></div>
  </div></div>
